
*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100vh;
    
}

header {
  
    background:url(img.jpg);
    height: 100vh;
    background-size: cover;
    color:white;
    font-size: 48px;
    font-family: 'brush script std';
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
p{
    margin-bottom: 30px;
}
button {
    padding: 10px 20px;
    border-radius: 5px;
    color:White;
    font-size: 16px;
    font-weight: bold;
    font-family: 'trajan pro';
    background-color:#433838;
    border:none;
   
}

