/* EDGE-to-EDGE layout: This HTML and BODY style code here makes sure that your 12-grid system stretches all the way to the very edge!! NO WHITE MARGINS */

html {
    padding: 0;
    margin: 0;
}

body {
    padding:0;
    margin:0;
    font-family: 'Roboto', 'Helvetica', sans-serif;
    font-size: 93%;
    line-height: 1.5em;
}

*{
    box-sizing: border-box;
}

.container {
    max-width: 1150px;
    margin: 0 auto;
    overflow: hidden;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {margin-top: 0;}

p {
    margin: 0 0 1em 0; 
    color: white; 
    padding:0 15px; 
    text-align: left;
}

h1 {
    background-color: #305782;
    color: #FFF;
    padding: 60px 25px;
    margin: 0;
}


h2 {
    text-align: left;
    padding: 25px 15px 5px;
    font-size: 20px;
    color:white;
}

/* Setting up our grid - THIS IS FOR DESKTOP VIEW */

.three:first-child, 
.four:first-child, 
.six:first-child, 
.nine:first-child { 
	margin-left: 0; /* This line of code makes the left-most column align to the left of the screen */
}

.row {
	width: 100%;
    overflow: hidden;
}

/* MOBILE FIRST APPROACH */

/* CSS ARRANGED FOR MOBILE FIRST - For mobile phones: */

.three, 
.four, 
.six, 
.nine {
    width: 100%;
    float: left;  /*This command is needed to keep the DIV boxes on the SAME line. If you remove this tag, each DIV  will stacked ontop each other, one at a time.*/
}

/* CSS ARRANGED FOR MOBILE FIRST - ONLY USE MEDIA QUERIES for ALL other devices - for Desktop and Tablets  */

@media only screen and (min-width: 1024px) {
    
    /* For desktop: */
    
    .three {width: 25%;}
    .four {width: 33.33%;}
    .six {width: 50%;}
    .nine {width: 75%;}
}


/* ===== Start Hero ===== */

header .hero-image {
    width: 100%;
    overflow: hidden;
}

picture img{
    max-width: 100%;
    vertical-align: middle;
    z-index: -1;
}

.layer {
    background: rgb(19, 49, 103);
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay-text{
    color: white;
    font-size: 26px;
    width: 620px;
    line-height: 1.2em;
    max-width: 96%;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}

@media (max-width:736px){
    .overlay-text{font-size: 20px;}
}

.overlay-text-a{
            color: white;
            font-size: 26px;
            line-height: 1.2em;
            text-align: center;
            position: absolute;
            top:50%;
            left:25%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); 
        }
        
        .overlay-text-b{
            color: white;
            font-size: 26px;
            line-height: 1.2em; 
            text-align: center;
            position: absolute;
            top:50%;
            left:75%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); 
        }
    
        .hero-list{
            padding: 0;
            list-style: none;
        }
        
        .hero-list li{
            line-height: .9em;
        }
        
        .hero-list li:first-child{
            line-height: 1.5em;
        }
        
        .hero-list a{
            font-size:20px;
            text-decoration: none;
            color:white;
        }
        
        .hero-list a:hover{
            color:#ffba49;            
        }
        
        .hero-list li:first-child a{
            color:#ffba49;
            font-size: 22px;
            font-weight: bold;
            padding-bottom: 5px;
        }


/* ===== End Hero ===== */

/* Start MENU Navigation */

@media only screen and (max-width: 1023px) {

    .menunav .logo {
        display: block;
        font-size: 120%;
        line-height: 70px;
        color: white;
        text-decoration: none;
        float: left;
        margin-left: 20px;
    }
    
    .menunav .logo:hover{color: #ffba49;}
    
    .menunav {
        background-color: #253d5b;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
        position: fixed;
        width: 100%;
        z-index: 3;
    }

    .menunav ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #253d5b;
    }
    
    .menunav li:first-child{
        margin-top: 62px;
    }

    .menunav li a {
        color:#fff;
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        text-align: center;
        font-size: 25px;
    }

    .menunav li a:hover{ color: #ffba49;}

    .menunav .menu {
        clear: both;
        min-height: 0;
        max-height: 0;
        transition: all .2s ease-out;
    }

    .menutext{
        font-size: 12px;
        position: absolute;
        top:0px;
        left: 9px;
        color:#253d5b;
    }

    .menunav .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 28px 12px 15px;
        position: relative;
        -webkit-user-select: none;  
        -moz-user-select: none;     
        -ms-user-select: none; 
        user-select: none;
        background: #fff;
        margin: 12px 15px; 
    }

    .menunav .menu-icon .navicon {
        background: #253d5b;
        display: block;
        height: 2.5px;
        position: relative;
        transition: background .2s ease-out;
        width: 30px;
    }

    .menunav .menu-icon .navicon:before,
    .menunav .menu-icon .navicon:after {
        background: #253d5b;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }

    .menunav .menu-icon .navicon:before {
        top: 7px;
    }

    .menunav .menu-icon .navicon:after {
        top: -7px;
    }

    .menunav .menu-btn {
        display: none;
    }

    .menunav .menu-btn:checked ~ .menu {
        min-height: 100vh;
        max-height: 100vh;
        background: #253d5b;
    }

    .menunav .menu-btn:checked ~ .menu-icon .navicon {
        background: transparent;
    }

    .menunav .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg);
    }

    .menunav .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg);
    }

    .menunav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
    .menunav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
        top: 0;
    }  
    
    header .row{
        position: relative;
        top: 70px;
    }
    
    .longnav{
        display: none;
    }
    
    .row3{
        margin-top: 69px;
    }

}

@media only screen and (min-width: 1024px) {
    
    .menunav{
        display:none;
    }
     header .row{
        position: relative;
    }

}

@media only screen and (max-width: 736px) and (orientation : landscape) {
    
    .menunav .logo {
        line-height: 58.5px;
    }
    
    .menunav li:first-child{
        margin-top: 24px;
    }
    
    .menunav li a {
        padding: 10px 20px;
        font-size: 22px;
    }
    
    .menunav .menu-icon {
      margin: 6px 15px 7px; 
    }
    
    header .row{
        top: 58px;
    }
    
    .row3{
        margin-top: 58px;
    }
}

@media only screen and (max-width: 599px) and (orientation : landscape) {
    
    .menunav li:first-child{
        margin-top: 5px;
    }
    
    .menunav li a {
        padding: 8px 20px;
        font-size: 18px;
    }
    
}

/* End MENU Navigation */

/* Start Horizontal Navigation */

.row2 .three,
.row2 .nine {
    height: 60px;
}

nav {
    background-color: #253d5b;
    width: 100%;
}

.fixed {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    background-color: rgba(37,61,91,.6); /* This code makes navigation bar transparent */
}

nav ul {
    margin: 0 15px 0 0;
    padding: 0;
    float:right; /* This code moves the NAV LINKS all the way to the right.*/
}

nav ul li {
    list-style: none;
    float: left;
    line-height: 60px;
    font-size: 18px;
}

nav .three a, 
nav ul li a:link,
nav ul li a:visited {
    display: block;
    text-decoration: none;
    padding: 0 20px;
    transition:  all .2s ease-in;
    font-weight: bold;
    color: #fff; 
}

nav ul li a:hover {
    background: #ffb45c;
}

nav .three a{
    line-height: 60px;
    padding: 0;
    margin-left: 15px;
    display: inline-block;
    font-size: 150%;
}

nav .three a:hover{
    color: #ffba49;
    cursor: pointer;
}

/* End Horizontal Navigation */

/* === Start Row3 === */

.row3 {
    background: white;
    padding: 30px 30px 40px;
} 

.row3 h2,
.row3 p {
    color:black;
}

/* === End Row3 === */

/* === Start Row4 === */

.row4 {
    background: #F9690E;
    padding: 30px 30px 40px;
}

/* === End Row4 === */

/* === Start Row5 === */

.row5 .three{
    position: relative;
}

@media (min-width:1024px){
    
    .row5 .three{ 
        width: 25%;
    }
    
}

@media (min-width:480px) and (max-width:1023px){
    
    .row5 .three{
        width: 50%;
    }
    
}

@media (max-width:479px){
    
    .row5 .three{ 
        width: 100%;
    }
    
}

.overlay-text4 {
    color: white;
    width: 100%;
    max-width: 96%;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 5px;
}

.overlay-text4 h2{
    text-align: center;
    font-size: 26px;
    display: inline-block;
    width: auto;
    padding: 0 0 0 0;
}

.overlay-text4 a, 
.overlay-text4 a:visited{
    color: #ffb45c;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.5em;
}

.overlay-text4 a:hover{
    color: white;
}

@media (min-width:1401px){
    .overlay-text4 a, 
    .overlay-text4 a:visited{
        font-size: 22px;
        line-height: 1.3em;
    }
}

/* === End Row5 === */

/* === Start Row6 === */

.row6 {
    background: #F27935;
    padding: 30px 30px 40px;
} 

/* === End Row6 === */

/* === Start Row7 === */

.row7 .six {
    position: relative;
    overflow: hidden;
}

/* === End Row7 === */

/* === Start Row8 === */

.row8 .six{
    position: relative;
}

.color{
    position: absolute;
    top:0;
    bottom:0;
    height: 100%;
    width: 100%;
    background: rgba(19, 49, 103, 0.4);
}

.color:hover{ background: rgba(19, 49, 103, 1); }

.overlay-text2{
    color: white;
    width: 620px;
    max-width: 96%;
    text-align: left;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
}

.overlay-text2 p{ font-size: 16px; }


@media (max-width:735px){
   
    .overlay-text2 h2{
        font-size: 18px;
        padding-top: 5px;
    }
    .overlay-text2 p{
        font-size: 15.5px;
        margin: 0 0 0.6em 0;
        line-height: 1.2em;
    }
}

@media (max-width:599px){
    
     .overlay-text2 h2{
        padding-top: 2px;
        margin-bottom: 2px;
    }
    
    .overlay-text2 p{
        font-size: 15px;
        margin: 0 0 0.5em 0;
        line-height: 1.1em;
    }
    
}

@media (max-width:480px){
    
    .overlay-text2 h2{
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .overlay-text2 p{
        font-size: 16px;
        margin: 0 0 0.5em 0;
        line-height: 1.2em;
    }
    
}

@media (max-width:374px){
    
    .overlay-text2 h2{
        font-size: 20px;
        margin-bottom: 5px;
    }
    
    .overlay-text2 p{
        font-size: 16px;
        margin: 0 0 0.6em 0;
        line-height: 1.11em;
    }
    
}

@media (max-width:350px){
    
    .overlay-text2 h2{ margin-bottom: 2px; }
    
    .overlay-text2 p{ font-size: 14.4px; }
    
}

@media (max-width:319px){
    
    .overlay-text2 h2{
        font-size: 14px;
        margin-bottom: 1px;
    }
    
    .overlay-text2 p{ font-size: 12px; }
    
}

/* End Row8 */


/* Start ParallaxRow (Row9) */

.parallax {
    position: relative;
    height: 400px;
    overflow: hidden;
}

.parallax img{
    position: fixed;
    z-index: -1;
    top:0;
    left: 0;
    width: 100%;
}

/* Disable Parallax < 1025px */

@media (max-width:1024px){
    .parallax{
        height: auto;
    }
    
    .parallax img{
        position: static;
    }
}

/* Start Animated CTA Buttons */

.overlay-text3{
    font-size: 24px;
    width: 950px;
    line-height: 1.2em;
    max-width: 96%;
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -400%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
    -webkit-animation: fadeInDown 2s both;
    animation: fadeInDown 2s both;
}

.btn {
    background: #ffb45c;
    padding: 10px;
    color:black;
    text-decoration: none;
    display: block;
    width: 29%;
    margin-right: 6%;
    float: left;
    letter-spacing: 3px;
}

.btn:hover{
    color: white;
}

.btn:nth-child(2){
    animation-delay: .2s;
}

.btn:nth-child(3){
    animation-delay: .4s;
    margin: 0;
}

@media (max-width:1023px){
    .btn {
        float: none;
        margin: 0 auto 15px;
        width: 35%;
        font-size: 21px;
    }
    
    .btn:nth-child(3){
        margin: 0 auto;
    }
}

@media (max-width:736px){
    .btn {
        width: 36%;
        font-size: 20px;
        padding: 5px 10px;
    }
    
}

@media (max-width:666px){
    .btn {
        padding: 5px 10px;
        width: 44%;
        font-size: 20px;
    }
    
}

@media (max-width:567px){
    .btn {
        margin: 0 auto 20px;
        padding: 8px 10px;
        font-size: 18px;
        width: 61%;
    }  
}

@media (max-width:374px){
    .btn {
        margin: 0 auto 15px;
        padding: 5px 10px;
        font-size: 16px;
        width: 65%;
    }
}

/* End Animated CTA Buttons */
/* End ParallaxRow (Row9) */

/* === Start Row10 ==== */

.row10{
    background: #F27935;
    padding: 30px 30px 45px;
}

.row10 .six{
    display: table;
}
.row10 .six div{
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
}

.row10 .six div .content-wrap{
    max-width: 680px;
    margin: 0 auto;
    display: block;
}

.row10 .six:nth-child(2) p, .row10 .six:nth-child(2) h2{
    text-align: center;
}

.row10 .six:nth-child(2) img{ 
    max-width:100%;
}

.row10 .six:nth-child(2) a{
    background: #253d5b;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 333px;
    max-width: 100%;
}

.row10 .six:nth-child(2) a:hover{
    color: #ffb45c;
}

@media (max-width:1023px){
    .row10{
        height:auto;
    }
}

@media (max-width:380px){
    .row10 .six:nth-child(2) a{
        width:auto;
    }
}

/* === End Row10 === */

/* === Start ROW 11 === */
   
    .row11{
        background: #ffba49;
    }

    .row11-container{
        max-width: 760px;
        padding: 30px 30px 40px;
        margin: 0 auto;
    }

/* === End ROW 11 === */

/* Start Footer/Last Row */


footer {
	height: 443px;
	background-color: #FDE3A7;
}

.last {
	height: 73px;
	background-color: #d13328;
	text-align:center;
}

/* End Footer/Last Row */


/* Back To Top button on every web page via JQuery  */

.back-to-top {
	position:fixed;
	bottom:20px;
	right:20px;
    background: rgba(0,0,0,.3);
    width: 40px;
    height: 40px;
    display: none;
    border-radius: 2px;
}

.back-to-top:hover{
    background: rgba(0,0,0,.7);
}

.back-to-top img{
    margin: 5.5px 0 1px 3.45px;
}

/* 

Circle background for back-to-top image

.back-to-top2 {
	position:fixed;
	bottom:20px;
	right:80px;
    background: rgba(0,0,0,.3);
    width: 40px;
    height: 40px;
    border-radius:50%;
}

.back-to-top2 img{
   margin: 5.5px 0 0 3.45px;
}

*/

/* End Back To Top */