/* Brand Colors */
:root {
  --blue: #1b4165;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* @font-face {
    font-family: 'PingFang';
    src: url('fonts/PingFang Regular.ttf');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
} */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.logo {
  max-height: 75px;
}

.nav-link {
  color: var(--blue);
  text-align: center;
}

.nav-link:not(.btn-link):hover {
  color: #132d46;
  text-decoration: underline;
}

.btn-link {
  background-color: var(--blue);
  color: white;
}

.nav-links a.btn-link:hover {
  color: white;
  text-decoration: none;
  background-color: #132d46;
}

.navbar-toggler img {
  max-height: 30px;
}

.hero {
  background: url("images/Landing-Page-Hero.jpg") no-repeat;
  background-position: center top;
  background-size: cover;
}

.hero-text {
  width: 100%;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 50px 20px;
  text-align: center;
}

.hero h1 {
  font-size: 1.7rem;
  font-weight: 400;
}

.hero p {
  display: none;
}

.box-300 {
  width: 300px;
  max-width: 100%;
}

label {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

select {
  text-align: center;
  text-align-last: center;
  border: 2px solid #333;
  color: #000;
}

option {
  text-align: left;
  background: #fff;
}

@media (min-width: 768px) {
  .hero-text {
    width: 420px;
    text-align: left;
    padding: 130px 22px;
    min-height: calc(100vh - 150px);
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    display: block;
  }
}

@media (min-width: 992px) {
  .nav-link {
    margin-left: 20px;
    text-align: left;
  }
}
