/********************************************
	Tag Resets
********************************************/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
}

/********************************************
	Normalize CSS
	http://necolas.github.com/normalize.css/
********************************************/

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	min-height: 100%;
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
audio,
canvas,
video {
	display: block;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}

b,
strong {
	font-weight: bold;
}

abbr[title] {
	border-bottom: 1px dotted;
}

input,
textarea,
button,
select {
	margin: 0;
	font-size: 100%;
	line-height: normal;
	vertical-align: baseline;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}

input[type="checkbox"],
input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

textarea {
	overflow: auto;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ******************************************
	Web Fonts
****************************************** */

@font-face {
    font-family: 'Roboto Condensed Light';
    src: url('../fonts/robotocondensed-light-webfont.eot');
    src: url('../fonts/robotocondensed-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-light-webfont.woff') format('woff'),
         url('../fonts/robotocondensed-light-webfont.ttf') format('truetype'),
         url('../fonts/robotocondensed-light-webfont.svg#RobotoCondensedLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ******************************************
	Custom Styles
****************************************** */

/*	  For details on font-size:100% see here: 
      http://filamentgroup.com/lab/how_we_learned_to_leave_body_font_size_alone/ 
	  
	  For details on line-height:1 see here:
      http://meyerweb.com/eric/thoughts/2008/05/06/line-height-abnormal/ 

	  For details on text-size-adjust:100% see here:
	  https://developer.mozilla.org/en-US/docs/CSS/text-size-adjust 
*/

html {
   font-size: 100%;
   line-height: 1;
   -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}

body {
	font-family: "Roboto Condensed Light", "Helvetica Neue", Helvetica, sans-serif;
	background: #26262C;
}

/* Dawn - This was a global set for all P and li, but needed to separate out per section */
p, #parts li {
	font-size: 1.063em; /* 17px / 16 = 1.063em */
	line-height: 1.223; /* 1.3 / 1.063 = 1.223 */
	margin: .612em 0;
	color: #ffffff; /* Dawn - Added */
}

#footer li, p {
	font-size: .9375em; /* 15px / 16 = .9375em */
	line-height: 1.223; /* 1.3 / 1.063 = 1.223 */
	margin: .612em 0;
	color: #ffffff; /* Dawn - Added */
}

h1,h2,h3,h4,h5,h6 {
	    font-weight: 100;
	    }
		
/* h1 {
	font-size: 3.189em;
	line-height: 1.223;
		}   */
		
/* Dawn updated the above H1, took H1 off logo*/		
h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-size: 1.382em; 
	line-height: 1.223;
	color: #FFFFFF;
		}   
	
h2  {
	font-size: 2.026em;
	line-height: 1.223;
		    }

/* Dawn Added padding top */			
h2 {
	padding-top: 2%;
	text-shadow: 0 2px 2px rgba(0, 0, 0, .65);
			 }
			 
h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.382em; 
	line-height: 1.223;
	color: #FFFFFF;  /* Dawn updated */	
		}
		    
h4 {
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
	line-height: 1.56;
	color: #FFFFFF;  /* Dawn updated */	
		}
		
h3,h4 {      
	font-weight: 500;
		}
		
h5 {
	font-size: .8125em;
	line-height: 1.125;
		}

h5,h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: .85em;
	line-height: 1.53;
	font-weight: 500;
		}
h6 {
	color: #aaa;
	font-weight: 200;
		}

.clearfix:before {
	content: "";
	display: table;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
		
.wrapper {
	        padding: 0 .65em;
	        -webkit-box-sizing: border-box;
	        -moz-box-sizing: border-box;
	        box-sizing: border-box;
		}
		
#masthead {
			color:#fff;
		        width:80%;
		}
		
/* Albono Logo */

	#maya {
	    width: 25%;
	    height: 0;
	    padding-bottom: 28%;
	    }
    
	#maya img {
	    width: 100%;
	    }
		
		
		/* Navigation */
	#nav {
	    padding: .65em 0;
	}
	
	#nav h1 {
	    float: left;
	} 
	
	
	/* Dawn - visual borders of menu 430px wide */
	#nav ul {
	    list-style: none;
	    padding: 0;
	    border-bottom: 1px solid #DA7D16;
	    margin: .65em 0 .39em;
	}

	#nav li {
	   border-top: 1px solid #DA7D16;
	}
	
	/* Dawn - visual border above nav links over 720px wide */
	#nav a {
	   display: block;
	   font-size: 1.063em;
	   color: #FFFFFF;
	   text-decoration: none;
	   padding: .975em 1.3em; 
	   border-top-width: 2px;
       border-top-style: solid;
	   border-top-color: #DA7D16;
	}
	
	#nav a:hover {
	  background: #323232;  
	   border-top-width: 2px;
       border-top-style: solid;
	   border-top-color: #DA7D162;
	}
	
	#nav nav {
	    height: 0;
	    overflow: hidden;
	}
	
	
	body { 
	    -webkit-animation: bugfix infinite 1s; 
	}

	@-webkit-keyframes bugfix {
	    from {padding: 0;} 
	    to {padding: 0;} 
	}
	
	#nav input[type=checkbox] {
	    position: absolute;
	    top: -999em;
	    left: -999em;
	}
	
	#nav label { 
	    display: block;
	    background: url("../img/icon-menu.png") no-repeat right center;
	    text-indent: -999em;
	    cursor: pointer;
	    -webkit-user-select: none;  /* Chrome all / Safari all */
	    -moz-user-select: none;     /* Firefox all */
	    -ms-user-select: none;      /* IE 10+ */
	    user-select: none;
	}
	
	#nav input[type=checkbox]:checked ~ nav {
	    height: auto;
	    overflow: hidden;  
	}		
		
#content article {
	padding-top: .65em;
	padding-bottom: 1.3em;
		}
		
/* Dawn removed this to try to seprate the box colors for parts and footer */
/* .box {
			padding:14px;
			background: #03684C; */
			
	
#parts .box {
			padding:14px;
			background: #03684C;  /
		}
		
		
#parts	.box h4 {
	color: #ffffff; /* Dawns Test to override */
	border-top: 4px double #eee;
	border-bottom: 1px solid #eee;
	margin-bottom: .975em; /* 3/4 of 1.3 */
	text-align: center;
		} 


#services h4 {
	/* color: #cfc417; */
	text-align: center;      /* Dawns added to center these headings */
	margin-bottom: .385em; /* 1/2 of 1.3 */
		} 
			

#services figure, img {
	 margin: auto;
		} 
		
/* Dawns added - center text under services img*/		
#services figure, p {
	text-align: center;  
	text-transform: none;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1px;
	font-size: 16px;
		} 
		
		
#footer .box {
			background: #323232; /* Dawns added - had no background before */
		}
		
#footer .box h3 {
	color: #ffffff;
}
	
#footer .box h4 {
	color: #ffffff;
	/* border-top: 4px double #eee; */
	/* border-bottom: 1px solid #eee; */
	/* margin-bottom: .975em; /* 3/4 of 1.3 */
	margin-bottom: .385em; /* 1/2 of 1.3 */
	text-align: left;      
		} 
		
#footer .info h4 {
	color: #ffffff;
	font-weight: normal;
	margin-bottom: .125em; 
	text-align: center;     
		} 
		
#footer .social h4 {
	margin-bottom: .385em; /* 1/2 of 1.3 */
	text-align: right;      
		} 

		
.box ul {
	list-style: none;
	padding: 0;
		}

/* Dawns can use this when have link on products */
#products figure,.box {
	/* background: #3a7eba; */
	padding: .0em;
	
/* Creates hover effect on products images */
	#products figure:hover,
	.box:hover {
	    -moz-box-shadow: 0 0 .65em .325em rgba( 0, 0, 0, .1 );
	    -webkit-box-shadow: 0 0 .65em .325em rgba( 0, 0, 0, .1 );
	    box-shadow: 0 0 .65em .325em rgba( 0, 0, 0, .1 );
	}  */

/* Image Offset for Indication of Linked Content */

	#products figure:hover {
	    bottom: .26em;
	}
	
		}
		
section footer {
	clear: both;
		   }

#container-nav {
	background:#26262C; 


}


#container-content {
	padding: 24px 0;
}

#container-recommendations {
	padding: 0 0 50px 0;
}

/*	Dawn used for parts section  */
	#container-contentMiddle {
	padding: 1.3em 0;
/*	background:#352a38;  */
	background: #03684C;
	color:#eee;
	font-weight:100;
}


/*	Dawn used for skills section  */
	#container-contentBottom {
		background: url(../img/Skills.jpg) no-repeat;
	background-size: cover;
	background-position: 0 36%;
}

#container-contentBottom img {
	width: 40%;
}

/*	Dawn added to fix top padding  */
	#container-footer {
	padding: 1.3em 0;
	background: #323232;
	/* color:#eee; */
	/* font-weight:100; */
}

img {
	max-width:100%;
}

.morepics article{ display:none;
}

#showLesswedding, #showLessengagement, #showLessfamily {
	display: none;
}

.morelink {
	font-size: 15px;
	font-family: 'Poppins', sans-serif;
	color: #fff;
	cursor: pointer;
	float: right;
	margin-right: 20px;
}

.morelink i {
	font-size: 18px;
    margin: 0px 0 0 3px;
}

.fade {
   opacity: 1;
   transition: opacity 0s ease-in;
   -moz-transition: opacity 0s ease-in;
   -webkit-transition: opacity 0s ease-in;
   }

.fade:hover {
  opacity: 0.5;
  }

#nav,
#masthead,
#contact,
#content,
#colophon {
    margin: 0 3.3%;
    }

/********************************************
	Fluid Media
********************************************/

	figure {
	    position: relative;
	}

	figure img,
	figure object,
	figure embed,
	figure video {
	    display: block;
	    max-width: 100%; 
	}

	img {
	    border: 0;
	    -ms-interpolation-mode: bicubic;
	}

	/* 
	interpolation-mode
	http://css-tricks.com/ie-fix-bicubic-scaling-for-images/
	 */
	 
	 
/* ******************************************
	   Form Styles Basic Layout
****************************************** */

	form {
	    padding: 0 0 1.3em;
	    }
    
	form ul {
	    list-style: none;
	    padding: 1.3em 0 0;
	    }
    
	form li {
	    padding: 0 0 .65em;
	    }
	
	legend {
		font-size: 1.382em; 
		line-height: 1.223;
		}
		    
	label {
	    display: block;
		font-size: 1em;
		line-height: 1.56;
	    padding: 0 0 .325em;
		}
		
	legend, label {      
		font-weight: 300;
		text-transform: uppercase;
		color: #fff;
		}
	
	input,
	textarea {
	    display: block;
	    width: 100%;
	    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 1em;
		line-height: 1.3;
		font-weight: 500;
	    padding: .65em;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    }

	/**
	 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
	 * 2. Improve readability and alignment in all browsers.
	 */

	textarea {
	    padding-bottom: 10%;
	    overflow: auto; /* 1 */
	    vertical-align: top; /* 2 */
	    }

	.send {
	    display: inline-block;
	    max-width: 30em;
	    font-size: 1em;
	    line-height: 1;
	    font-weight: 500;
	    color: #fff;
	    text-decoration: none;
	    /* background: #0074b0; */
		background: #00B4AA;
	    margin: .65em .26em;
	    padding: .975em;
	    border: 0;
	    border-radius: 1.3em;
	    text-shadow: 0 -1px 1px rgba(0, 0, 0, .65);
	    }
    
	.send:hover {
	    background: #198CA5;
	    }
    
	.send:active,
	.send:focus {
	    background: #555;
	    }

/* Float Clearing http://nicolasgallagher.com/micro-clearfix-hack */

.group:after {
    content: " "; /* 1 */
    display: table; /* 2 */
    clear: both;
}

.group {
    *zoom: 1; /* 3 */
    }

	/* ******************************************
	    IE 7 and below, legacy browser style fixes
	****************************************** */

	.ie .wrapper {
	    *behavior: url("http://absolute-path.com/js/boxsizing.htc");
	}

	/* Clearfix */

	.group {
	    *zoom: 1;
	    }
	
	#services-title {
		padding-bottom: 10px;
	}

	#recommendations-title {
		padding: 40px 0 10px 0;
	}	

	.blue-box {
		font-family: 'Poppins', sans-serif;
		font-size: 18px;
		line-height: 1.8;
		background: #428bca;
		padding: 10px;
		color: #fff;
		font-style: italic;
		border-radius: 8px;
		position: relative;
	}	

	.blue-box:after {
		content: '';
		width: 0; 
		position: absolute;
	  height: 0; 
	  border-left: 20px solid transparent;
	  border-right: 20px solid transparent;
	      bottom: -20px;
    left: 36px;
	  border-top: 20px solid #428bca;
	}

	.input-span{
		font-family: 'Poppins', sans-serif;
		margin: 30px 0 0 0;
    	display: block;
    	color: #fff;
	}
			
	.call-text {
		font-weight: normal;
	}

	.phone {
		font-size: 35px;
		font-weight: normal;
	}
	
	
	video {
  width: 100%    !important;
  height: auto   !important;
}

/* ******************************************
	Media Queries for screen less than 45em (720px)
****************************************** */                                                                                                                  
	@media screen and (max-width: 45em) {
	#container-header {
		background: #352a38 url("../img/bg-photo-s.jpg") 			no-repeat top center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		padding: 10% 0;
		border-top: #DA7D16 4px solid; /* Dawn added border */
		 border-bottom: #DA7D16 4px solid;  /* Dawn added border */
			}
			
	/* Dawn commented out to fix first row of image widths - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - --*/
	/* #products figure {
	max-width: 25em;  
	} */ 
	
	#nav h1 {
	    float: left;
	} 

	.info {
		display: none;
	}
	
	/* Make h3 the h4 font size on mobile */
	#footer .box h3 {
	color: #ffffff;
	font-size: 1em;
	line-height: 1.56;
}

#footer .social h4 {
	text-align: left;
}
		}	

/* ******************************************
	Media Queries for screen wider than 45em (720px)
****************************************** */

	@media screen and (min-width: 45em) {

	    body {
	        font-size: 107.692307692308%;
	        }

		#products article,
		#products2 article,   /* Dawn added for duped engagement section photos */
		#products3 article,   /* Dawn added for duped engagement section photos */
		#parts article,
		#services article,
		#footer article,
		#recommendations article
		{     /* Dawn added article for footer */
			float: left;
			width: 33.333%;
		}
		
		#masthead {
			max-width:40em;
		}
		#nav,
		#masthead,
		#contact,
		#content,
		#colophon {
		    margin: 0 5.5%;
		    }
			
		#container-header {
		background: #323232 url("../img/bg-photo-l.jpg") 			       		
		no-repeat top center;
	    padding:5% 0;
			-webkit-background-size: cover;
	    	-moz-background-size: cover;
	   	 background-size: cover;
		 border-top: #DA7D16 4px solid; /* Dawn border MAY REMOVE */
		 border-bottom: #DA7D162 4px solid; /* Dawn border MAY REMOVE */
		}
		 
/*	1. Remove padding from one-column layout style.
	    */
    
	    #nav {
	        padding: 0;
	    }
		
	    #nav h1 {
	         margin: .53em 1.3em 0 0;
	    }
		
	    #nav label {
	        display: none;
	    }
		
	    #nav nav {
	        height: auto;
	        overflow: visible;
	        	    float: right;
	    }
		
	    #nav ul {
	        border: 0;
	        margin: 0;
	        }
		#nav li {
		        display: inline;
		        border: 0;
				margin: 0 0 30em 0;
		    }
		
		#nav a {
		        display: inline-block;
		        }
			
		.name, .email {
			    float: left;
			    width: 50%;
			    -webkit-box-sizing: border-box;
			    -moz-box-sizing: border-box;
			    box-sizing: border-box;
			    }
    
		.name {
			    padding-right: .65em;
			    }
    
			.email {
			    padding-left: .65em;
			    }
    
			.send {
			    width: 48.6%;
			    }
		}
	
	/* ******************************************
		Media Queries for screen wider than 60em (960px)
	****************************************** */
	
	@media (min-width: 60em) {

	.name, .email {
	    padding-right: 1.3em;
	    padding-left: 0;
	    clear: both;
	    }
    
	.message textarea {
	    width: 50%;
	    }
    
	.send {
	    width: 25%;
	    margin-left: 50%;
	    }
    
	}


/* ******************************************
	Print Styles
****************************************** */
@media print and (max-width: 8.5in){
	
	#masthead {
		color:black;
	}
	
	#container-header {
		height: auto;
	}
	
	img {
		width:2in;
	}
	
	#products	{
		float:left;
		width:45%;
	}
	
	#parts,
	#services,
	#recommendations,
	#footer	{
		float:right;
		width:45%;
	}
	
/*	#container-footer	{
		clear:both;
	} */
	
}            
          
		          
/* Figures/Images */

.ie #products figure {
    width: 100%;
    box-sizing: border-box;
    }

/* "*" hack applies only to IE7 and below */

.ie #products figure {
    *width: auto;
    }
   
/* Navigation */

/* IE8 .checked class for checkbox.js */

#nav input[type=checkbox].checked ~ nav {
    height: auto;
    overflow: visible;  
}

/* Always show nav, IE7 and below */

.ie #nav nav {
    *height: auto;
    *overflow: visible;  
}

/* Hide navicon, IE7 and below */

.ie #nav label { 
    *background: none;
    }
     
/* box-sizing polyfill, IE7 and below (The URL in .ie textarea is placeholder only. You will need to replace with path to your domain) */

.ie .wrapper,
.ie .name,
.ie .email,
.ie input,
.ie textarea {
    *behavior: url("http://www.absolute-path.com/js/boxsizing.htc");
}                                                                                                                                                                                                                                                                                                                                                                                                            
	
