
.maildiv{
    background: #4d46b4;
    padding: 15px;
}
.mailinfo{
    color: white;
}



nav a{
    color: black !important;
}

nav li:first-child a{
    border-bottom: 5px solid  yellowgreen ;
}

h1{
    font-size: 31px;
}

.hero{
    padding: 220px 0;
    width: 100%;
    display: table;
    color: white;
    margin-top: 0;
    
}

h2{
    font-size: 25px;
}

.welcome{
    padding: 10px;
}

.welcome h2,.welcome p {
    padding: 30px;
    margin-top: 0;
}

h3{
    font-size: 20px;
}

.welcome img{
    border: 1px solid grey;
}

.features{
    margin-top: 0;
    padding: 100px;
}

.card-image{
   
    height: auto;
    background: grey;
    padding: 100px;
}

.card-content{
    margin: 30px 0;
}

h4{
    font-size: 18px;
}














