header{
    height: auto;
    width: 100%;
    text-align: center;
    background: linear-gradient(red,#524f4F);
    background-color: #363636;
}

.logo{
    color:363636#746e6e;
    padding: 40px 0 40px 0;
    display: inline-block;
}

nav{
    width:100%;
    background: #524f4f;
    height: 40px;
}


nav ul{
	display:inline-block;
    margin:0 auto;
    list-style: none;
	padding:0;
    height: 40px;
    
}

nav ul li{
	
    float:left;
    width:120px;
	padding-left:0;
    line-height:40px;
    height: 40px;
}

nav ul li a{
    text-decoration: none;
    color:white;
    opacity: 0.7;
    font-size: 22px;
    font-family: 'Mate SC';
    display: inline-block;
    width:120px;
    height: 40px;
	line-height:40px;
    
}

nav ul li a:hover{
    opacity: 1;
	color:white;
	text-decoration:none;
}

nav ul li:nth-child(1) a{opacity:1;}

a:focus{
	color:white;
	outline:red;
}



.intro{
    
    background-color:#fff;
;
}

.paru1{
    box-shadow: 0px 0px 4px 1.5px grey;
    margin: 30px auto 0px;   
    animation-delay: 1.3s;
}


.paru1div{
    margin: 0 auto;
    text-align: center;
    max-width: 768px;
}
 h2{
    text-align: center;
    font-family: mate sc;
    font-size: 35px;
    color: #2c2b2b;
    
}


p{  
    text-align: left;
    font-family: open sans;
    font-size: 16px;
    color:#242424;
}

.btn{
    padding: 10px 20px;
    font-family: mate sc;
    font-size: 18px;
    margin-bottom: 15px;
    color:white;
    border:none;
    background:linear-gradient(lightcoral,red) ;
}
.btn:hover{
	color:white;
	box-shadow:0 0 3px red;
}
.intro2{
    
    background:linear-gradient(#D7CCC8,rgba(255, 0, 0, 0.58)) ;
}


.paru2div{
    margin: 0 auto 20px;
}

.paru2{
    height: 300px;
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
}

figure{
    margin-top: 15px;
}

figcaption{
    text-align: center;
    font-family: mate sc;
    font-size: 20px;
} 


.intro3{
    background: linear-gradient(linen,lightcoral);
}
.parudiv3{
    margin: 20px auto;
    text-align: center;
    max-width: 630px;
}

.responsive-video {
position: relative;
padding-bottom: 56.25%;
padding-top: 60px; overflow: hidden;
}


.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 95%;
}

.touch{
    background: linear-gradient(linen, #cc8f8f);
}
.social{
    max-height: 80px;
    margin: 10px auto;
}

.icons{
    list-style: none;
    padding-left: 0;
    margin: 0 0 20px;
    text-align: center;
}

.icons li{
    display: inline-block;
    height: 80px;
    margin:10px;
}

.icons li a {
    height: 80px;
}

.icons img{
    height: 80px;
}

h3{
    text-align: center;
    color:#fc3a3a;
    font-family: mate sc;
}

.icons p{
    text-align: center;
    font-size: 13px;
}
input,.subs{
    display: block;
    padding:10px 20px;;
    margin: 10px auto;
}

#mc_embed_signup{
    margin: 0 auto;
    text-align: center;
    width: 90%;
    background: none;
}

.mc-field-group, input{
    margin: 0 auto;
 
}

#mc_embed_signup input:focus{
    outline: none !important;
    border: none;
    box-shadow: 0 0 8px lightcoral;
}
#mc_embed_signup .btn{
    margin: 0 auto 20px;
    padding: 6px 20px;
    border: none;
    
}

.news p{
    text-align: center;
    font-size: 14px;
}

footer{
    background: #3b2e30;
   
}

footer p{
	 color:white;
	font-size:13px;
	font-family: open sans;
	text-align:center;
    padding: 10px;
    margin-bottom: 0px;
}

footer a{
    color:white;
}

footer a:hover{
    color:white;
}

----------------QUERIES-----------

@media screen and (max-width:559px){
	
	nav ul li{
		width:120px;
	}
	nav ul li a{
		
		width:120px;
		font-size: 20px;

	}
}

@media screen and (max-width:479px){
	
    nav{
        height: 35px;
    }
    nav ul li{
		width:75px;
        height: 35px;
        line-height: 35px;
	}
	nav ul li a{
		height: 35px;
		width:75px;
		font-size: 17px;
        line-height: 35px;

	}
    
    nav ul li:first-child{
        width: 70px;
    }
}