html{
	position:relative;
	min-height:100%;
}

header{
    height: auto;
    width: 100%;
    text-align: center;
    background: -webkit-linear-gradient(red,#3b2e30);
    background: linear-gradient(red,#3b2e30);
    background-color: #3b2e30;
}

.logo{
    padding: 40px 0 40px 0;
    display: inline-block;
}

nav{
    width:100%;
    background: #3b2e30;
    height: 40px;
}


nav ul{
	display:inline-block;
    margin:0 auto;
    list-style: none;
	padding:0;
    height: 40px;
    
}

nav ul li{
	
    float:left;
    width:120px;
	padding-left:0;
    line-height:40px;
    height: 40px;
}

nav ul li a{
    text-decoration: none;
    color:white;
    opacity: 0.7;
    font-size: 22px;
    font-family: 'Mate SC';
    display: inline-block;
    width:120px;
    height: 40px;
	line-height:40px;
    
}

nav ul li a:hover{
    opacity: 1;
	color:white;
	text-decoration:none;
}

.container{
    max-width: 600px; 
    box-shadow: 0 0 5px grey;
    margin: 30px auto;
	padding:30px;
}


p{
    font-family: 'open sans';
    font-size: 16px;
    animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
}
.p2{
	animation-delay:2.2s;
	-webkit-animation-delay:2.2s;
}

h2{
    
    color:lightcoral;
    font-family: 'mate sc';
    margin-bottom: 20px;
    animation-delay:1s;
    -webkit-animation-delay:1s;
}


footer{
    background: #3b2e30;
    height:38px;
	position:absolute;
	bottom:-38px;
	width:100%;
   
}

footer p{
    color:white;
	font-size:13px;
	font-family: 'open sans';
	text-align:center;
    padding: 10px;
    margin-bottom: 0px;
}

footer a{
    color:white;
}

footer a:hover{
    color:white;
}

/*-----------MEDIA-QUERIES--------------*/

@media screen and (max-width:559px){
	
	nav ul li{
		width:120px;
	}
	nav ul li a{
		
		width:120px;
		font-size: 20px;

	}
}

@media screen and (max-width:479px){
	
    nav{
        height: 35px;
    }
    nav ul li{
		width:75px;
        height: 35px;
        line-height: 35px;
	}
	nav ul li a{
		height: 35px;
		width:75px;
		font-size: 17px;
        line-height: 35px;

	}
    
    nav ul li:first-child{
        width: 70px;
    }
}

@media screen and (max-width:602px){
	.container{
		box-shadow:none;
		padding:0 20px;
	}
}
